<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hadoop.kafka.mapper.UserOrderMapper">
    <update id="upInsertUserOrder" parameterType="com.hadoop.kafka.entity.UserOrderEntity">
        UPSERT INTO USER_ORDER VALUES (
        #{orderID},
        #{userID},
        #{number},
        #{price},
        #{productID}
        )
    </update>
    <delete id="deleteUserOrder" parameterType="String">
        DELETE
        FROM USER_ORDER
        WHERE order_id = #{orderID}
    </delete>
    <select id="getOrderById" parameterType="String" resultType="com.hadoop.kafka.entity.UserOrderEntity">
        SELECT *
        FROM USER_ORDER
        WHERE order_id = #{orderID}
    </select>
    <select id="getAllOrders" resultType="com.hadoop.kafka.entity.UserOrderEntity">
        SELECT *
        FROM USER_ORDER
    </select>
    <select id="getOrdersByUserId" resultType="com.hadoop.kafka.entity.UserOrderEntity">
        SELECT *
        FROM USER_ORDER
        WHERE user_id = #{userID}
    </select>
</mapper>